Capstone1/Capstone1/LoanSrv/SOA/WSDLs/CustomerDB.wsdl

<wsdl:definitions
     name="CustomerDB"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Capstone1/LoanSrv/CustomerDB"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Capstone1/LoanSrv/CustomerDB"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CustomerDB"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="CustomerDB_plt" >
    <plt:role name="CustomerDB_role" >
      <plt:portType name="tns:CustomerDB_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CustomerDB" schemaLocation="../Schemas/CustomerDB_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="CustomerDBSelect_inputParameters">
        <wsdl:part name="CustomerDBSelect_inputParameters" element="top:CustomerDBSelect_cidInputParameters"/>
    </wsdl:message>
    <wsdl:message name="CustomerCollection_msg">
        <wsdl:part name="CustomerCollection" element="top:CustomerCollection"/>
    </wsdl:message>
    <wsdl:portType name="CustomerDB_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:CustomerCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="CustomerDBSelect">
            <wsdl:input message="tns:CustomerDBSelect_inputParameters"/>
            <wsdl:output message="tns:CustomerCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
